/* @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;600&display=swap'); */


.main_div{
    background-image: url(../../Assets/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh !important;
    padding-bottom: 60px;
    padding-top: 150px !important;
}

.w-100{
    height: 80% !important;
    border-radius: 10px 0px 0px 10px;
}

.kig{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.scnd{
    padding-left: 50px;
    padding-right: 50px;
    width: 35%;
    /* font-family: 'Oswald' !important; */
  font-style: normal;
  font-weight: 300;
}

.vid_div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.vid_div img{
    width: 100%;
    /* min-height: 480px; */
    border-radius: 10px 0 0px 10px;
}



.scnd{
    background-color: rgb(20, 37, 44);
    /* margin-top: 50px; */
    /* padding-bottom: 37px !important; */
    border-radius: 0px 10px 10px 0px;
    /* width: 60%; */
    padding-left: 90px;
    padding-right: 90px;
    /* height: 100%; */
}

.logo img{
    /* width: 230px; */
    margin-top: -46px;
}

.scnd_emg img{
    width: 160px !important;
}

.fst_bttn{
    background-color: rgb(14,27,33);
    padding: 0px 20px;
    border-radius: 3px;
    color: white;
    margin-right: 5px;
    border: 4px solid transparent;
}

.fst_bttn:hover{
    border: 4px solid rgb(64,121,193);
    background-color: rgb(14,27,33);
    padding: 0px 20px;
    color: white;
}

.heding p{
    font-size: 15px;
    font-weight: 500;
    color: rgb(163,165,168);
    margin-top: -13px;
}

.scnd_emg img{
    margin-top: 0px;
    box-shadow: 3px 4px 6px rgb(24, 22, 22);
}

.scnd_bttn{
    background-color: rgb(62,62,62);
    padding: 5px 10px;
    border-radius: 3px;
    color: white;
    margin-right: 14px;
    margin-top: 15px;
    box-shadow: 3px 4px 6px rgb(24, 22, 22);
    border: 4px solid transparent;
}

.scnd_bttn:hover{
    border: 4px solid rgb(15,172,244);
    background-color: rgb(62,62,62);
    padding: 5px 10px;
    color: white;
}
.actiggve{
    border: 4px solid rgb(15,172,244);
}
.activedark{
    border: 4px solid #cd1636;

}

.activedark1:hover{
    border: 4px solid #cd1636 ;
}

.blck{
    margin-top: 15px;
}

.plus{
    background-color: black;
    color: white;
    border: 2px solid rgb(67,71,74);
    box-shadow: inset;
    border-radius: 4px;
    box-shadow: 3px 4px 6px rgb(24, 22, 22);
    height: 40px;
}

.plus:hover{
    background-color: black;
    color: white;
    border: 2px solid rgb(67,71,74);
    box-shadow: inset;
    border-radius: 4px;
}

.enput{
    background-color: black;
    color: white;
    border: 2px solid rgb(67,71,74);
    width: 15% !important;
    height: 40px;
    margin: 0px 15px;
    box-shadow: inset;
    padding-top: 6px;
    border-radius: 4px;
    text-align: center !important;
    box-shadow: 3px 4px 6px rgb(24, 22, 22);
}

.enput value{
    text-align: center;
}

#vid{
    border-radius: 10px 0 0px 10px;
}

.mint img{
    margin-top: 25px;
    width: 65%;
    /* padding-bottom: 15px; */
}

.responsive{
    padding: 0px !important;
}

.light img{
    width: 135px;
}

@media screen and (max-width:700px) {
    .logo img{
        width: 200px;
        margin-top: -47px;
    }
    .w-100{
        border-radius: 10px;
    }
    
    .scnd_emg img{
        width: 130px !important;
    }

    .mint img{
        margin-top: 25px;
        width: 65%;
    }

    /* .scnd_bttn{
        display: flex;
        flex-direction: column;
        padding: 5px 5px;
    } */

    .scnd{
        /* padding: 0px 10px; */
        width: auto;
        border-radius: 10px;
    }

    input{
        width: auto;
        height: 50px;
    }

    #vid{
        border-radius: 10px;
    }
    .connected_div img{
        width: 190px;
    }
}


@media only screen and (max-width:767px){
    .responsive{
        padding: 10px !important;
    }

    .vid_div img{
        border-radius: 10px;
    }

    .main_div{
        height: auto !important;
    }

    
}

@media (min-width:768px) and (max-width:1023px){
    .vid_div img{
        width: 100%;
        height: 262px;
    }

    .main_div{
        padding-top: 200px !important;
    }

    .light img {
        width: 100px;
    }

    .plus{
        height: 35px;
    }

    .enput{
        padding-top: 0px;
        height: 31px;
    }

    h5{
        font-size: 15px;
    }

    .blck {
        margin-top: 9px;
    }

    .mint img {
        margin-top: 10px;
        width: 56%;
        padding-bottom: 5px;
    }

    .kig{
        margin-top: 80px;
    }

    .connected_div{
        margin-top: -18px !important;
    }
}

@media (min-width:1024px) and (max-width:1200px){
    .vid_div img{
        width: 100%;
    }

    .main_div{
        padding-top: 180px !important;
    }

    .light img {
        width: 100px;
    }

    .plus{
        height: 35px;
    }

    .enput{
        height: 31px;
        padding-top: 1px;
    }

    h5{
        font-size: 15px;
    }

    .blck {
        margin-top: 9px;
    }

    .mint img {
        margin-top: 10px;
        width: 56%;
        padding-bottom: 5px;
    }

    .kig{
        margin-top: 60px;
    }

    .connected_div{
        margin-top: -13px;
    }
}

@media (min-width:1300px) and (max-width:1800px) {
    .scnd{
        width: 31%;
    }

    .main_div{
        padding-top: 100px;
    }
}

@media (min-width:1801px) and (max-width:2600px) {
    .scnd{
        width: 31%;
    }

    .main_div{
        padding-top: 110px;
    }

    .connected_div img{
        width: 450px;
    }
    
}

.connected_div{
    display: flex;
    justify-content: end;
    margin-top: -8rem !important;
}

.spinner-border{
    color: rgb(210,149,71);
    font-size: 20px;
}